body {
    /* background-color: red; */
    /* background: url('../../img/b.jpg') */
}

div {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    background-color: blue;
}

.pa {
    width: 10px;
}

::placeholder {
    color: gray;
}